* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This is for the title */
h1 {
    display: grid;
    text-align: center;
}

#welcome-message {
    font-size: 3rem;
    padding: 1rem;
}

/* This is for the navigation bar */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 3rem;
}

nav {
    display: flex;
    gap: 3rem;
    align-items: center;
}
